.socials-list {
  display: flex;
  justify-content: center;
}
.socials-list__item:not(:last-child) {
  margin-right: 10px;
}
.socials-list__link {
  display: flex;
  width: 44px;
  height: 44px;

  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: var(--main-text-color);
  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $color-accent;
  }
}
.socials-list__icon {
  fill: currentColor;
}
